.heading{
    background-color: antiquewhite;
}

body {
    background-color: blueviolet;
  
    
    
    
}

#box1 {
    height: 100px;
    width: 100px;
    color: blue;
    background-color: brown;
    text-align: center;
    
}
